extends layout

block maincontent
		#pcont.container-fluid
			.cl-mcont
				.row
					.col-md-6
						a(href='http://www.at-pac.com')
							img(src='cz/images/logo_main.gif', title='AT-PAC', width='301', height='75')
					.col-md-3.col-md-offset-3
						a(href='http://www.thingtech.com')
							img(src='cz/images/TT_logo_GrayGreen.png', title='AT-PAC', width='191', height='75')

				h3.text-center Welcome to the AT-PAC Scaffold Management System!
				h4.text-center Powered by thingtech 



